.DS_Store
*.dll
*.exe
bin/
images/packer_cache
pkg/
scratch/
vendor/
example.appfile
website/.vagrant
website/build
website/node_modules
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.otto/
.ottoid
otto-data/
