.DS_Store
*.dll
*.exe
bin/
images/packer_cache
pkg/
scratch/
bindata.go
example.appfile
website/.bundle
website/.vagrant
website/build
website/node_modules
_scriptpack_staging/
.bundle/
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.otto/
/.ottoid
otto-data/
test-output
