.DS_Store
*.dll
*.exe
bin/
builtin/**/bindata.go
helper/compile/bindata.go
images/packer_cache
pkg/
scratch/
vendor/
example.appfile
website/.bundle
website/.vagrant
website/build
website/node_modules
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.otto/
/.ottoid
otto-data/
