//
// Button Styles
// --------------------------------------------------

.h-btn{
	display: inline-block;
	background-color: $white;
	color: $black;
	@include transition(color .3s ease-in-out);
	font-family: $font-family-roboto;
	font-weight: $font-weight-md;
	text-transform: uppercase;
	border-radius: 3px;

	span.h-caret{
		display: inline-block;
		width: 11px;
		height: 9px;
		margin-left: 12px;
		@include transition(all 300ms ease-in);
	}

	&.minimal{
		text-transform: none;
		background-color: transparent !important;
		padding: 0 !important;

		&.orange{
			color: $orange;

			// &:hover{
			// 	color: $white;
			// }
		}

		&.light{
			color: $white;

			// &:hover{
			// 	color: $orange;
			// }
		}
	}

	&.lrg{
		font-size: $font-size-reg;
		padding: 8px 36px;
	}

	&.sml{
		padding: 8px 14px;
		font-size: $font-size-reg - 2;
	    line-height: 14px;

		&.has-caret{
			span.h-caret{
				background-size: 6px 9px !important;
				margin-bottom: -2px;
				margin-right: -3px;
			}
		}
	}

	&.light{
		color: $white;

		&.has-border{
			border: 2px solid $green-light;
		}

		span.h-caret{
			background: image-url('../images/arrow-light.png') 0 0 no-repeat;
			@include img-retina("../images/arrow-light.png", "../images/arrow-light@2x.png", 11px, 9px);
		}
	}

	&.orange{
		background-color: $orange;
		color: $black;

		&.has-border{
			border: 3px solid $black;
		}

		span.h-caret{
			background: image-url('../images/arrow-orange.png') 0 0 no-repeat;
			@include img-retina("../images/arrow-orange.png", "../images/arrow-orange@2x.png", 11px, 9px);
		}
	}

	&.dark{
		color: $green-dark;

		&.border{
			border: 2px solid $green-dark;
		}
	}

	&:hover{
		text-decoration: none;
		@include transition(color 200ms ease-in);

		span.h-caret{
			@include translate(4px, 0);
			@include transition(all 200ms ease-in);
		}
	}
}
