#footer{
  position: relative;
  padding: 80px 0 $med-pad;
  color: $black;

  .footer-hashi{
    font-size: 14px;

    color: $black;

    a{
      color: $black;
      font-weight: 600;
    }

    span{
      margin-right: 4px;
    }

    .hashi-project{
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-decoration: none;

      &:hover{
        svg{
          .svg-bg-line{
            fill: $orange;
          }
        }
      }

      span{
        font-family: $header-font-family;
        font-weight: 500;
      }

      span,
      svg{
        display: inline-block;
      }

      svg{
        &.svg-by{
          width: $by-hashicorp-width;
          height: $by-hashicorp-height;
          margin-bottom: -4px;
          margin-left: -3px;
        }

        &.svg-logo{
          width: 30px;
          height: 30px;
          margin-bottom: -10px;
          margin-left: -1px;
        }

        path,
        line{
          fill: $black;
          @include transition(all 300ms ease-in);

          &:hover{
            @include transition(all 300ms ease-in);
          }
        }

        .svg-bg-line{
          @include transition(all 300ms ease-in);

          &:hover{
            @include transition(all 300ms ease-in);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #footer{
    padding: $med-pad 0;
  }
}

@media (max-width: 480px) {
  #footer{
    text-align: center;
  }
}
