//
// Hashicorp Nav (header/footer) Utiliy Vars and Mixins
//
// Notes:
// - Include this in Application.scss before header and feature-footer
// - Open Sans Google (Semibold - 600) font needs to be included if not already
// --------------------------------------------------

//header font
$header-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-weight: 600; // semi-bold

@mixin v-nav-style-core{
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: 14px;
    //letter-spacing: 0.0625em;
}

@mixin v-nav-style{
    margin: 0 15px;
    padding: 0;
    line-height: 22px;
    @include v-nav-style-core();
    @include transition( color 0.3s ease );

    &:hover{
        @include transition( color 0.3s ease );
        background-color: transparent;
    }
}
