//
// Header
// - Project Specific
// - edits should be made here
// --------------------------------------------------

@mixin v-nav-project-style{
    color: $blue-light;

    &:hover{
        color: $orange;
    }
}


#header {
    .navbar-brand {
        .logo{
            color: $black;
            background: image-url('../images/logo-header.png') 0 0 no-repeat;
            @include img-retina("../images/logo-header.png", "../images/logo-header@2x.png", $project-logo-size, $project-logo-size);
            background-position: 0 center;

            &:hover{
				color: $orange;
			}
        }
    }

    .buttons{
        margin-top: 2px; //baseline everything

        ul.navbar-nav{
            li {
                &:hover{
                    svg path{
                        fill: $black;
                        @include transition( all 0.3s ease );
                    }
                }

                svg path{
                    fill: $blue-light;
                }
            }
        }
    }

    .main-links,
    .external-links {
        li > a {
            @include v-nav-project-style();
        }
    }
}
