//
// Header
// - Project Specific
//
// --------------------------------------------------

@mixin v-nav-project-style{
    color: $blue-light;

    &:hover{
        color: $orange;
    }
}


#header {
    &.navbar-static-top{

    }

    .navbar-brand {
        .logo{
            color: $black;

            &:hover{
				color: $orange;
			}
        }
    }

    .buttons{
        margin-top: 2px; //baseline everything

        ul.navbar-nav{
            li {
                &:hover{
                    svg path{
                        fill: $black;
                        @include transition( all 0.3s ease );
                    }
                }

                &.download{

                }

                &.github{

                }

                >a {

                }

                svg path{
                    fill: $blue-light;
                    @include transition( all 0.3s ease );
                }
            }
        }
    }

    .main-links,
    .external-links {
        li > a {
            @include v-nav-project-style();
        }
    }

    .nav > li > a:hover, .nav > li > a:focus {

    }
}

@media (min-width: 992px) {

}

@media (max-width: 992px) {


}

@media (max-width: 768px) {

}

@media (max-width: 763px) {

}

@media (max-width: 320px) {

}
