//
// Home
// --------------------------------------------------

#hero{
  position: relative;
  padding-top: $med-pad;

  &:before{
    display: block;
    content: '';
    position: absolute;
    left: -1938px;
    bottom: -50px;
    width: 2000px;
    height: 10px;
    background: image-url('../images/arm-segment.jpg') 6px 0 no-repeat;
    @include img-retina("../images/arm-segment.jpg", "../images/arm-segment@2x.jpg", 5px, 10px);
    background-repeat: repeat-x;
  }

  &:after{
    display: block;
    content: '';
    position: absolute;
    right: -1938px;
    bottom: 56px;
    width: 2000px;
    height: 10px;
    background: image-url('../images/arm-segment.jpg') 6px 0 no-repeat;
    @include img-retina("../images/arm-segment.jpg", "../images/arm-segment@2x.jpg", 5px, 10px);
    background-repeat: repeat-x;
  }

  #hero-text{
    position: relative;
    z-index: 1;

    h1{
      font-size: 28px;
      font-weight: 500;
    }

    p{
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 2em;
    }
  }

  #hero-graphic{
    position: absolute;
    bottom: -60px;
    left: 0;
    display: inline-block;
    width: 1170px;
    height: 319px;
    margin: 0 auto 10px;
    background: image-url('../images/graphic-hero.jpg') 6px 0 no-repeat;
    @include img-retina("../images/graphic-hero.jpg", "../images/graphic-hero@2x.jpg", 1170px, 319px);
    z-index: 0;
  }

  #hero-btns{
    position: relative;
    z-index: 1;
    margin-top: 26px;
    a{
      &.download{
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  #hero{
    padding-top: $small-pad;

    &:before{
      display: none;
    }

    &:after{
      display: none;
    }

    #hero-graphic{
      position: relative;
      bottom: auto;
      left: auto;
      width: 177px;
      height: 178px;
      background: image-url('../images/otto-grey.jpg') center 0 no-repeat;
      @include img-retina("../images/otto-grey.jpg", "../images/otto-grey@2x.jpg", 177px, 178px);
    }
  }
}

@media (max-width: 768px) {


}


@media (max-width: 480px) {
  #hero{
    padding-top: $small-pad;

    #hero-graphic{
      width: 100%;
      background-position: center 0;
    }
    
    #hero-btns,
    #hero-text{
      text-align: center;
    }
  }
}


@media (max-width: 320px) {

}
