//
// Home
// --------------------------------------------------

#hero{
  position: relative;
  padding-top: $med-pad;

  &:before{
    display: block;
    content: '';
    position: absolute;
    left: -1938px;
    bottom: -50px;
    width: 2000px;
    height: 10px;
    background: image-url('../images/arm-segment.jpg') 6px 0 no-repeat;
    @include img-retina("../images/arm-segment.jpg", "../images/arm-segment@2x.jpg", 5px, 10px);
    background-repeat: repeat-x;
  }

  &:after{
    display: block;
    content: '';
    position: absolute;
    right: -1938px;
    bottom: 56px;
    width: 2000px;
    height: 10px;
    background: image-url('../images/arm-segment.jpg') 6px 0 no-repeat;
    @include img-retina("../images/arm-segment.jpg", "../images/arm-segment@2x.jpg", 5px, 10px);
    background-repeat: repeat-x;
  }

  #hero-text{
    position: relative;
    z-index: 1;

    h1{
      font-size: 28px;
      font-weight: 500;
    }

    p{
      margin-top: 20px;
      text-align: left;
      font-size: 16px;
      font-weight: 400;
      line-height: 2em;
    }
  }

  #hero-graphic{
    position: absolute;
    bottom: -60px;
    left: 0;
    display: inline-block;
    width: 1170px;
    height: 319px;
    margin: 0 auto 10px;
    background: image-url('../images/graphic-hero.jpg') 6px 0 no-repeat;
    @include img-retina("../images/graphic-hero.jpg", "../images/graphic-hero@2x.jpg", 1170px, 319px);
    z-index: 0;
  }

  #hero-btns{
    position: relative;
    z-index: 1;
    margin-top: 26px;
    a{
      &.download{
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  #hero{
    #hero-graphic{
      //@include translate3d(-30px, 0, 0);
      width: 700px;
      height: 249px;
      background: image-url('../images/graphic-hero.png') 6px 0 no-repeat;
      @include img-retina("../images/graphic-hero.png", "../images/graphic-hero@2x.png", 700px, 249px);
    }
  }

}

@media (max-width: 768px) {

  #hero{
    #hero-graphic{
      margin: $small-pad 0;
      width: 100%;
      height: 420px;
      background: image-url('../images/graphic-hero-mobile.jpg') center 0 no-repeat;
      @include img-retina("../images/graphic-hero-mobile.jpg", "../images/graphic-hero-mobile@2x.jpg", 291px, 420px);
    }
  }
}


@media (max-width: 480px) {

}


@media (max-width: 320px) {

}
