@font-face {
    font-family: 'Bitstream Monobold';
    src: url('../webfonts/veramobd-webfont.eot');
    src: url('../webfonts/veramobd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/veramobd-webfont.woff2') format('woff2'),
         url('../webfonts/veramobd-webfont.woff') format('woff'),
         url('../webfonts/veramobd-webfont.ttf') format('truetype'),
         url('../webfonts/veramobd-webfont.svg#bitstream_vera_sans_monobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
