@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url("//fonts.googleapis.com/css?family=Roboto:400,300,500|Open+Sans:300,400,600,700");

// Core variables and mixins
@import '_variables';
@import '_mixins';

// Utility classes
@import '_utilities';

// Core CSS
@import '_webfonts';

//Global Site
@import '_global';

// Hashicorp Shared Project Styles
@import '_hashicorp-nav-util';
@import '_hashicorp-header';
@import '_hashicorp-sidebar';

// Components
@import '_header';
@import '_footer';
@import '_buttons';
@import '_sidebar';

// Pages
@import '_home';
@import '_community';
@import '_docs';
@import '_downloads';
@import '_api';
@import '_livestream';
