---
layout: "inner"
page_title: "Community"
description: |-
  Otto is an open source project with a growing community.
---

<h1>Community</h1>

<p>
Otto is an open source project with a growing community. There are
active, dedicated users willing to help you through various mediums.
</p>
<p>
<strong>IRC:</strong> <code>#otto-tool</code> on Freenode
</p>
<p>
<strong>Mailing list:</strong>
<a href="https://groups.google.com/group/otto-tool">Otto Google Group</a>
</p>
<p>
<strong>Bug Tracker:</strong>
<a href="https://github.com/hashicorp/otto/issues">Issue tracker
	on GitHub</a>. Please only use this for reporting bugs. Do not ask
for general help here. Use IRC or the mailing list for that.

<h1>People</h1>
<p>
The following people are some of the faces behind Otto. They each
contribute to Otto in some core way. Over time, faces may appear and
disappear from this list as contributors come and go. In addition to
the faces below, Otto is a project by
<a href="https://www.hashicorp.com">HashiCorp</a>, so many HashiCorp
employees actively contribute to Otto.
</p>
<div class="people">
	<div class="person">
		<img class="pull-left" src="http://www.gravatar.com/avatar/54079122b67de9677c1f93933ce8b63a.png?s=125">
		<div class="bio">
			<h3>Mitchell Hashimoto (<a href="https://github.com/mitchellh">@mitchellh</a>)</h3>
			<p>
			Mitchell Hashimoto is the creator of Otto. In addition to Otto,
			Mitchell is the creator of
			<a href="https://www.vagrantup.com">Vagrant</a>,
			<a href="https://www.packer.io">Packer</a>,
			<a href="https://www.consul.io">Consul</a>,
			<a href="https://www.terraform.io">Terraform</a>,
			<a href="https://www.vaultproject.io">Vault</a>, and
			<a href="https://www.nomadproject.io">Nomad</a>.
			</p>
		</div>
	</div>

	<div class="person">
		<img class="pull-left" src="http://www.gravatar.com/avatar/11ba9630c9136eef9a70d26473d355d5.png?s=125">
		<div class="bio">
			<h3>Armon Dadgar (<a href="https://github.com/armon">@armon</a>)</h3>
			<p>
			Armon Dadgar is a creator of Otto.
			Armon is also the creator of
			<a href="https://www.consul.io">Consul</a>,
			<a href="https://www.serfdom.io">Serf</a>,
			<a href="https://www.terraform.io">Terraform</a>, and
			<a href="https://www.nomadproject.io">Nomad</a>.
			Armon contributes to Otto primarily through feature ideas,
			code review, and compatibility with other projects.
			</p>
		</div>
	</div>

	<div class="person">
		<img class="pull-left" src="http://www.gravatar.com/avatar/2fafdc19b0f7248e9a1e1e07d5a8b678.jpg?s=125">
		<div class="bio">
			<h3>Paul Hinze (<a href="https://github.com/phinze">@phinze</a>)</h3>
			<p>
			Paul Hinze is an Otto core committer. Paul is an employee of HashiCorp
			and the
			<a href="https://www.terraform.io">Terraform</a>
			project's lead engineer.
			He is also works on
			<a href="https://www.vagrantup.com">Vagrant</a> and
			<a href="https://www.packer.io">Packer</a>.
			</p>
		</div>
	</div>

	<div class="clearfix"></div>
</div>
