

<div id="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="hero-text">
					<h1>Development and Deployment Made Easy</h1>
					<h3>Meet the Successor to <span class="vagrant-logo">Vagrant</span></h3>
				</div>
				<div id="hero-graphic">
				</div>
				<div id="hero-btns">
					<a class="h-btn orange has-border lrg intro" href="/intro">Learn More<span class="h-caret"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="subhero-banner" class="section bg-black">
	<div class="container">
		<div class="row">
			<div class="col col-md-5">
				<div class="otto-lrg-white">
				</div>
			</div>
			<div class="col col-md-7">
				<h2>Why Otto?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt, lacus volutpat porttitor ornare, leo sapien feugiat tellus, eu finibus risus ante vitae turpis. Maecenas pretium urna turpis, eu varius ex maximus nec. Duis consectetur tellus eros, ac semper nunc blandit sit amet. Maecenas elementum dui dolor, eget molestie justo ullamcorper ac. Praesent nisi dolor, fringilla vel vulputate non, feugiat eget massa. Nulla placerat augue vitae velit porttitor, id imperdiet turpis eleifend. Donec consequat aliquet mauris, mollis sagittis dolor elementum ullamcorper. Nulla at vulputate dolor. Donec scelerisque libero sit amet nulla pulvinar posuere.</p>
				<a class="blog-btn h-btn gray sml fill" href="/intro">Blog<span class="h-caret"></span></a>
			</div>
		</div>
	</div>
</div>

<div id="automate" class="section bg-light-orange">
	<div class="container">
		<div class="row">
			<div class=" col-md-4">
				<div class="feature-graphic">Graphic</div>
			</div> <!-- .col -->
			<div class=" col-md-4">
				<div class="feature-graphic">Graphic</div>
				<div class="feature-header">
					<h3>Automated Development Environments</h3>
					<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
				</div>
				<div class="feature-footer">
					<a class="blog-btn h-btn orange lrg fill has-caret" href="/intro">Read more<span class="h-caret"></span></a>
				</div>
			</div> <!-- .col -->
			<div class=" col-md-4">
				<div class="terminal-graphic">Graphic</div>
			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- /container -->
</div> <!-- #automate -->

<div class="section section-50">
	<div id="focus" class="r50 bg-orange">
		<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
			<div class="feature-graphic">Graphic</div>
			<div class="feature-header">
				<h3>Focus on your Application, Not Your Infrastructure</h3>
				<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
			</div>
			<div class="feature-footer">
				<a class="blog-btn h-btn orange lrg fill has-caret" href="/intro">Read more<span class="h-caret"></span></a>
			</div>
		</div>
	</div><!-- #focus -->

	<div id="deployment" class="r50 bg-black">
		<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
			<div class="feature-graphic">Graphic</div>
			<div class="feature-header">
				<h3>Deployment</h3>
				<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
			</div>
			<div class="feature-footer">
				<a class="blog-btn h-btn white lrg fill has-caret" href="/intro">Read more<span class="h-caret"></span></a>
			</div>
		</div>
	</div><!-- #deployment -->
</div>


<div id="microservices" class="section">
	<div class="container">
		<div class="row">
			<div class=" col-md-8">
				<div class="feature-graphic">Graphic</div>
			</div> <!-- .col -->
			<div class=" col-md-4">
				<div class="feature-header">
					<h3>Microservices Made Simple</h3>
					<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
				</div>
				<div class="feature-footer">
					<a class="blog-btn h-btn orange lrg fill has-caret" href="/intro">Read more<span class="h-caret"></span></a>
				</div>
			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- /container -->
</div> <!-- #microservices -->

<div id="use-cases" class="section section-50">

	<div class="use-case">
		<div class="use-overview r50">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<h3>Otto Use Case: <span class="use-subtitle">Rails on AWS</span></h3>
				<div class="use-icons">
					<ul>
						<li>otto</li>
						<li>rails</li>
						<li>aws</li>
					</ul>
				</div>
				<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
			</div><!-- .col -->
		</div><!-- .use-overview .r50-->

		<div class="use-steps r50 bg-gray">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">

				<div class="use-step">
					<h4><span"use-count">01.</span> Ruby Ipsum</h4>
					<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
					<pre class="prettyprint">"Node":
					{
					    "Node": "",
					    "Address": ""
					},
					"Service":
					{
					    "ID": "",
					    "Service": "",
					    "Port": 31015
					},
					</pre>
				</div><!-- .use-step -->

				<div class="use-step">
					<h4><span"use-count">02.</span> Run Otto Dev</h4>
					<p>Suspendisse potenti..</p>
					<pre class="prettyprint">"Node":
					{
					    "Node": "",
					    "Address": ""
					}
					</pre>
				</div><!-- .use-step -->

			</div><!-- .col -->
		</div><!-- .use-steps .r50 -->
	</div><!-- .use-case -->

	<div class="use-case">
		<div class="use-overview r50">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<h3>Otto Use Case: <span class="use-subtitle">Node</span></h3>
				<div class="use-icons">
					<ul>
						<li>otto</li>
						<li>rails</li>
						<li>aws</li>
					</ul>
				</div>
				<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
			</div><!-- .col -->
		</div><!-- .use-overview .r50-->

		<div class="use-steps r50 bg-gray">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">

				<div class="use-step">
					<h4><span"use-count">01.</span> Ruby Ipsum</h4>
					<p>Suspendisse potenti. Sed placerat tincidunt nulla vel sollicitudin.</p>
					<pre class="prettyprint">"Node":
					{
					    "Node": "",
					    "Address": ""
					},
					"Service":
					{
					    "ID": "",
					    "Service": "",
					    "Port": 31015
					},
					</pre>
				</div><!-- .use-step -->

				<div class="use-step">
					<h4><span"use-count">02.</span> Run Otto Dev</h4>
					<p>Suspendisse potenti..</p>
					<pre class="prettyprint">"Node":
					{
					    "Node": "",
					    "Address": ""
					}
					</pre>
				</div><!-- .use-step -->

			</div><!-- .col -->
		</div><!-- .use-steps .r50 -->
	</div><!-- .use-case -->

</div><!-- #use-cases -->
