

<div id="hero">
	<div class="container">
		<div class="row">
			<div class="col-offset-md-1 col-md-7">
        <div id="hero-content">
  				<div id="hero-text">
  					<h1>Otto is a HashiCorp Research Project</h1>
            <p>
              Otto was created to provide a high level abstraction to developers looking to develop and deploy applications. It used other tools made by HashiCorp, including [Vagrant]() to build development environments and [Nomad]() to deploy applications. However, we felt that the current incarnation of Otto did not live up to it’s goal, and have decided to close source the project so that we can rethink its design and implementation as part of HashiCorp Research. The most current source code is still available for download but is no longer actively maintained or supported.
            </p>
  				</div>
          <div id="hero-btns">
            <a class="h-btn orange outline lrg read" href="https://www.hashicorp.com/blog/incubating-otto.html">Read More <span class="h-caret"></span></a>
            <a class="h-btn dark outline lrg download" href="#">Download<span class="h-download"></span></a>
          </div>
          <div id="hero-graphic"></div>
  			</div>
      </div>
		</div>
	</div>
</div>
