

<div id="hero">
	<div class="container">
		<div class="row">
			<div class="col-offset-lg-1 col-lg-8 col-md-9">
        <div id="hero-content">
          <div id="hero-graphic"></div>
  				<div id="hero-text">
  					<h1>Decommissioning Otto</h1>
            <p>
              Otto was created to provide a high-level abstraction to both develop and deploy applications. Its goal was to unify HashiCorp tools across the application delivery spectrum, including <a class="vagrant" href="https://www.vagrantup.com/">Vagrant</a> to manage development environments, <a class="packer" href="https://www.packer.io/">Packer</a> to build images, <a class="terraform" href="https://www.terraform.io/">Terraform</a> to provision images, <a class="consul" href="https://www.consul.io/">Consul</a> to connect and monitor applications, <a class="nomad" href="https://www.nomadproject.io/">Nomad</a> to deploy applications, and <a class="vault" href="https://www.vaultproject.io/">Vault</a> to secure applications and infrastructure. It was an ambitious project, and we feel that it has not lived up to expectations. Rather than having a public project that does not meet HashiCorp standards, we have decided to close source the project so we can rethink its design and implementation. The source code is still available for download, but Otto will no longer be actively maintained or supported.
            </p>
  				</div>
          <div id="hero-btns">
            <a class="h-btn orange outline lrg read" href="https://www.hashicorp.com/blog/incubating-otto.html">Read More <span class="h-caret"></span></a>
            <a class="h-btn dark outline lrg download" href="https://s3.amazonaws.com/hc-public/tools/otto-master.tbz2">Download binary &amp; Docs<span class="h-download"></span></a>
          </div>
  			</div>
      </div>
		</div>
	</div>
</div>
